{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'style/reviews/index.css' %}">
  <h3 class="mt-5">리뷰</h3>
  <h4>{{user}}</h4>
  <hr>
  {% for review in reviews %}
    <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
    <form action="{% url 'reviews:review_emote' review.pk 1 %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="좋아요">
      <span>{{ review.num_likes }}</span>
    </form>
    <form action="{% url 'reviews:review_emote' review.pk 0 %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="싫어요">
      <span>{{ review.num_dislikes }}</span>
    </form>
    <hr>
  {% endfor %}

  <br>
  <btn type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review-create">리뷰작성</btn>

  <div class="modal fade" id="review-create" tabindex="-1" aria-labelledby="review-createLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="review-createLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'reviews:review_create' %}" method="POST">
          <div class="modal-body">
            {% csrf_token %}
            <div class="star-container">
              <div class="star-empty">
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-1">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-2">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-3">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-4">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-5">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
    
                <div class="fill-star-width" id="star-full">
                  <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-1">
                    <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                  </svg>
                  <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-2">
                    <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                  </svg>
                  <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-3">
                    <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                  </svg>
                  <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-4">
                    <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                  </svg>
                  <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-5">
                    <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                  </svg>
                </div>
              </div>
              <input type="number" hidden name="rating" value="" id="rating">
    
            </div>
            <div>
              {{ form.as_p }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">작성</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-latest.js"></script> 
  <script>
    const emptyStars = document.querySelectorAll('.empty-star');
    const star = document.querySelector('#star-full')
    const rating = document.querySelector('#rating')
    
    $(document).ready(function() {
      var left = 0
      var right = 0
      var isclick = 0
      var clicked = 0
      
      // Add click event to the SVG tags
      $('.clickable-star').on('click', function(event) {
        // Get the current SVG tag's ID
        var id = $(this).attr('id')
        var x = event.pageX - $(this).offset().left
        isclick = 1
        
        if (id == 'star-1') {
          left = 1
          right = 2
        } else if (id == 'star-2') {
          left = 3
          right = 4
        } else if (id == 'star-3') {
          left = 5
          right = 6
        } else if (id == 'star-4') {
          left = 7
          right = 8
        } else if (id == 'star-5') {
          left = 9
          right = 10
        }
    
        if (x < $(this).width() / 2) {
          star.classList.add(`fill-star-width-${left}`);
          clicked = left
          rating.setAttribute('value', `${left/2}`)
        } else {
          star.classList.add(`fill-star-width-${right}`);
          clicked = right
          rating.setAttribute('value', `${right/2}`)
        }
      });
      
      // Add mouseover event to the SVG tags
      $('.clickable-star').on('mouseover', function(event) {
        // Get the current mouse position relative to the SVG tag
        star.className = ""
        var id = $(this).attr('id')
        var x = event.pageX - $(this).offset().left
    
        if (id == 'star-1') {
          left = 1
          right = 2
        } else if (id == 'star-2') {
          left = 3
          right = 4
        } else if (id == 'star-3') {
          left = 5
          right = 6
        } else if (id == 'star-4') {
          left = 7
          right = 8
        } else if (id == 'star-5') {
          left = 9
          right = 10
        }
        
        if (x < $(this).width() / 2) {
          star.classList.add(`fill-star-width-${left}`)
        } else {
          star.classList.add(`fill-star-width-${right}`)
        }
      });
    
      $('.clickable-star').on('mouseout', function(event) {
        star.className = ""
        if (isclick) {
          star.classList.add(`fill-star-width-${clicked}`)
        } else {
          star.classList.add('fill-star-width')
        }
      });
    });
  </script>
{% endblock content %}
