.dark-header-color {
  z-index: 8;
  background-color: transparent;
  color: white;
}

.dark-header-color a {
  color: inherit !important;
}

.dark-signup-color {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 10px
}

.header-profile-img {
  width: 2rem;
  height: 2rem;
}

.dark-search {
  background-color: transparent;
  border: 1px solid gray;
  outline: none;
  color: white;
}

.dark-logout {
  color: white;
  background-color: transparent;
  border: 1px solid #7E7E7E;
  border-radius: 5px;
  padding: 3px 10px
}

.search-modal-bg {
  background-color: #1C1D1F;
  object-fit: contain;
}

.my-genre-btn {
  background-color: #3b4869;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 6px;
  border: 0px;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: all 0.15s ease-in-out;
}

/* .search-modal {
  max-width: 50rem;
} */

.search-box {
  position: relative;
}
  
.trending-box {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  left: 0;
  right: 0;
  background-color: #1C1D1F;
  border-radius: 2px;
  box-shadow: 0.1px 0.1px 3px #1C1D1F,
  0.1px 0.1px 3px #1C1D1F;
  padding-top: 10px;
  padding-bottom: 10px;
}

.is-onblur{
  display: none;
}

.trending-movies {
  display: flex;
  align-items: center;
}

.trending-movies:hover {
  background-color: #3b4869;
}

.trending-movies > input {
  background-color: transparent;
  color: rgb(240, 240, 240);
  border: none;
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.popular-search {
  padding-left: 8px;
  padding-top: 3px;
}