.dark-header-color {
  background-color: transparent;
  color: white;
}

.dark-header-color a {
  color: inherit !important;
}

.dark-signup-color {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 10px
}

.header-profile-img {
  width: 2rem;
  height: 2rem;
}

.dark-search {
  background-color: transparent;
  border: 1px solid gray;
}

.dark-logout {
  color: white;
  background-color: transparent;
  border: 1px solid #7E7E7E;
  border-radius: 5px;
  padding: 3px 10px
}