{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="page-bg-wrapper">
  <div class="page-bg-inner">
    <div class="container container-pt white-font">
      <div class="mt-5 collcetion mx-auto">
        <form action="{% url 'movies:create' request.user.username %}" method="POST">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <a class="fs-5 text-dark" href="{% url 'accounts:profile' request.user.username %}">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </a>
            <button class="my-btn">
              저장
            </button>
          </div>
          {% csrf_token %}
          {% for field in collection_form %}
            <div class="input-group mb-3">
              {{ field }}
            </div>
          {% endfor %}

          <!-- 추가할 영화 리스트 출력될 부분 -->
          <div id="selected-list" class="d-flex gap-3 flex-wrap">
            <button type="button" class="btn btn-secondary movie-poster-size fs-1 opacity-50" data-bs-toggle="modal" data-bs-target="#addList">
              +
            </button>
          </div>
          <input type="hidden" id="movies-input" name="selected_list">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addList" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header border-top border-bottom">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="d-flex align-items-center border-bottom ps-3">
        <i class="bi bi-search"></i>
        <input class="px-1 py-2 bg-transparent border-0 search collcetion-search" type="text" id="search-input" data-user-name="{{ request.user.username }}" placeholder="작품 검색" aria-label="Search">
      </div>
      <button class="" type="submit" hidden>Search</button>
      <div class="modal-body" id="search-results">
        
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/movies/create_collection.js' %}"></script>
{% endblock content %}