{% extends 'base.html' %}



{% load static %}

{% block content %}
<div class="bg-poster">
  <img class="bg-poster-size"src="https://image.tmdb.org/t/p/w1280{{ movie.backdrop_path }}" alt="">
  <div class="bg-title-color">
    <p>{{ movie.title }}</p>
    <p class="bg-title-origin">{{ movie.original_title }}</p>
  </div>
</div>

<div class="container">
  <div class="container-py">
    <div class="d-flex align-items-center gap-3 flex-nowrap">
      <!---->
      <img class="poster" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="">
      <div class="movie-overview">
        <!--제목, 개봉일, 장르, 국가-->
          <div>
            <div class='text-body-secondary fs-5 mt-3'>
              <span>{{ year}} ・</span>
              <span>{{ genres }} ・</span>
              <span>{{ country }}</span>
            </div>
            <hr>
          </div>
          <!--상호작용-->
          <div class="d-flex align-items-center gap-5 no-wrap">
            <!--평가하기-->
            <div class="ms-5">
              <p class="text-center mb-2">평점</p>
              <p class="fs-3">
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-1">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-1">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-1">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-1">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-1">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
              </p>
            </div>
            <div class="ms-4 d-flex fs-5 gap-5">
              <div class="ms-2">
                <i class="bi bi-plus-lg"></i>
                보고싶어요
              </div>
              <div>
                <button class="border-0 bg-transparent" data-bs-toggle="modal" {% if request.user.is_authenticated %} data-bs-target="#review-create" {% else %} data-bs-target="#please-login" {% endif %}>
                  <i class="bi bi-pen-fill"></i>
                  코멘트
                </button>
              </div>
              <div>
                <i class="bi bi-eye-fill"></i>
                보는중
              </div>
            </div>
          </div>
          <hr>
          <div class="overview-section">
            <p id="movie-overview" class="text-overview close">{{ movie.overview }}</p>
            <button class="text-overview border-0 bg-transparent pink-color" id="more" style="float: right;">더보기</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_key }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<section class="detail-bg-color">
  <div class="container pt-5">
    <div class="container-py">
      <div class="movie-detail">
        <!--영화정보-->
        <div class="mb-5">
          <p class="detail-title">영화 정보</p>
          <hr>
          <div class="info-content">
            <p class="mb-2">{{ movie.original_title }}</p>
            <span>{{ movie.release_date }} · </span>
            <span>{{ country }} · </span>
            <span>{{ genres }}</span>
            <p class="mt-2">{{ movie.runtime }}</p>
          </div>
        </div>
        <p class="detail-title">출연 / 제작</p>
        <hr>
        <div class="row row-cols-1 row-cols-md-4 gx-4 mx-auto">
          <!--감독-->
          {% for crew in crews %}
            <a class="staff-section" href="{% url 'movies:person_detail' crew.id %}">
              <div class="card crew-card mb-3 p-2 border-0" style="max-width: 15rem;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://image.tmdb.org/t/p/w185{{ crew.profile_path }}" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="ms-2 d-flex flex-column justify-content-center h-100 gap-3">
                      <p class="name-text">{% if crew.kor_name %} {{ crew.kor_name }} {% else %} {{ crew.name }} {% endif %}</p>
                      <p class="role-text">감독</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
          
          <!--배우-->
          {% for cast in casts %}
            <a class="staff-section" href="{% url 'movies:person_detail' cast.id %}">
              <div class="card cast-card mb-3 p-2 border-0" style="max-width: 15rem;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://image.tmdb.org/t/p/w500{{ cast.profile_path }}" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="ms-2 d-flex flex-column justify-content-center h-100 gap-3">
                      <p class="name-text">{% if cast.kor_name %} {{ cast.kor_name }} {% else %} {{ cast.name }} {% endif %}</p>
                      <p class="role-text">{{ cast.character }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        <!--평점-->
        <hr>
        <div>
          <div class="d-flex justify-content-between align-items-center flex-nowrap">
            <p class="fw-bold fs-5">별점 그래프</p>
            <p class="">평균 ★ {{ avg_rating }}</p>
          </div>
          <p class="rating-people text-secondary">({{ rating_people }}명)</p>
          <div id="chart" class="mx-auto gap-1" data-ratings="{{ ratings }}">
            <div>
              <div class="bar"></div>
              <p>0</p>
            </div>
            <div>
              <div class="bar"></div>
              <p></p>
            </div>
            <div>
              <div class="bar"></div>
              <p>1</p>
            </div>
            <div>
              <div class="bar"></div>
              <p></p>
            </div>
            <div>
              <div class="bar"></div>
              <p>2</p>
            </div>
            <div>
              <div class="bar"></div>
              <p></p>
            </div>
            <div>
              <div class="bar"></div>
              <p>3</p>
            </div>
            <div>
              <div class="bar"></div>
              <p></p>
            </div>
            <div>
              <div class="bar"></div>
              <p>4</p>
            </div>
            <div>
              <div class="bar"></div>
              <p></p>
            </div>
            <div>
              <div class="bar"></div>
              <p>5</p>
            </div>
          </div>
          <hr>
        </div>
      <!-- 리뷰 캐러셀 -->
      <div class="review-box">
        <div class="review-slide">
          <!-- Slides -->
          {% for review in reviews %}
            <div class="card mx-2 p-2 review-card" style="width: 18rem;">
              <!-- 카드 헤더 (프사, 닉네임, 별점) -->
              <div class="card-header review-card-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center profile-href" OnClick="location.href ='{% url 'accounts:profile' review.user %}'" style="cursor:pointer;">
                  <img class="review-card-profile-img me-1 rounded-circle" {% if review.user.profile_image %} src="{{ review.user.profile_image.url }}" {% else %} src="{% static 'img/profile-img.png' %}" {% endif %}  alt="review-profile-image">
                  <p class="card-text">{{ review.user }}</p>
                </div>
                <p class="card-text">★ {{ review.rating }}</p>
              </div>
              <!-- 카드바디 (리뷰내용) -->
                <div id="spoiler-section" class="card-body review-card-body">
                  {% if review.is_spoiler %}
                    <p id="spoiler-text">스포일러가 있어요!! <button id="spoiler-btn" class="pink-text border-0 bg-transparent">더보기</button></p>
                    <p id="review-text" class="card-text review-content-overflow content-href hidden"  OnClick="location.href ='{% url 'reviews:detail' review.pk %}'">{{review.content}}</p>
                  {% else %}
                    <p class="card-text review-content-overflow content-href"  OnClick="location.href ='{% url 'reviews:detail' review.pk %}'">{{review.content}}</p>
                  {% endif %}
                </div>
              <!-- 카드푸터 (좋아요, 싫어요, 댓글) -->
              <div class="card-footer review-card-footer d-flex justify-content-between align-items-center">
                <div class="d-flex">

                  <form action="{% url 'reviews:review_emote' review.pk 1 %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="border-0 bg-transparent"><label class="tumbs-up-icon"><i class="bi bi-hand-thumbs-up"></i></label></button>
                  </form><span>{{ review.num_likes }}</span>

                  <form action="{% url 'reviews:review_emote' review.pk 0 %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="border-0 bg-transparent ms-2"><label class="tumbs-down-icon"><i class="bi bi-hand-thumbs-down"></i></label></button>
                  </form><span>{{ review.num_dislikes }}</span>

                </div>
                <span class="card-text"><label class="chat-label"><i class="bi bi-chat-fill"></i></label></span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>



<!-- 리뷰 작성 모달 -->
<div class="modal fade" id="review-create" tabindex="-1" aria-labelledby="review-createLabel" aria-hidden="true">
  <div class="modal-dialog login-modal">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <h1 class="modal-title fs-5" id="review-createLabel">{{ movie.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'reviews:review_create' %}" method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <div class="star-container">
            <div class="star-empty">
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-1">
                <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
              </svg>
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-2">
                <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
              </svg>
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-3">
                <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
              </svg>
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-4">
                <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
              </svg>
              <svg width="44" height="44" viewbox="0 0 44 44" fill="#eee" class="empty-star clickable-star" id="star-5">
                <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
              </svg>
  
              <div class="fill-star-width" id="star-full">
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-1">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-2">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-3">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-4">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
                <svg width="44" height="44" viewbox="0 0 44 44" fill="#ffdd63" class="fill-star clickable-star" id="star-5">
                  <path d="M22 33.444L9.83 42.327c-.784.572-1.842-.196-1.539-1.118l4.687-14.32L.769 18.06c-.787-.569-.383-1.812.588-1.81l15.067.033 4.624-14.34c.298-.924 1.606-.924 1.904 0l4.624 14.34 15.067-.033c.971-.002 1.375 1.241.588 1.81l-12.209 8.829 4.688 14.32c.302.922-.756 1.69-1.54 1.118L22 33.444z"></path>
                </svg>
              </div>
            </div>
            <input type="number" hidden name="rating" value="0" id="rating">
          </div>
          <div class="mt-3">
            {{ review_form.as_p }}
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <label class="spoiler-label fs-3" id="spoiler-label" for="spoiler"><i class="bi bi-emoji-angry tooltip-spoiler"><span class="tooltiptext">스포일러가 있는 코멘트를 가려보세요.</span></i></label>
            <input type="number" hidden name="is_spoiler" id="spoiler-field" value=0>
            <button id="review-btn" type="submit" class="review-btn fs-5" disabled>작성</button>
          </div>
          <input type="text" hidden name="title" value="{{ movie.title }}">
          <input type="number" hidden name="movie-id" value="{{ movie.id }}">
        </div>
      </form>
    </div>
  </div>
</div>
<!--로그인 안내 모달-->
<div class="modal fade" id="please-login" tabindex="-1" aria-labelledby="review-createLabel" aria-hidden="true">
  <div class="modal-dialog login-modal">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <button type="button" class="btn-close text-pink ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="please-login-content">
          <div class="chat-icon mb-3">
            <i class="bi bi-chat-fill"></i>
          </div>
          <p class="fw-bold fs-5 lh-base">지금 회원가입 혹은 로그인하시고, 경험한 감동을 기록해보세요.</p>
        </div>
        <div class="d-grid mb-5">
          <a class="my-btn mb-3" href="{% url 'accounts:signup' %}">회원가입</a>
          <a class="text-pink a-underline" href="{% url 'accounts:login' %}">로그인</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/reviews/index.js' %}"></script>
<script src="{% static 'js/reviews/create.js' %}"></script>
<script src="{% static 'js/movies/more.js' %}"></script>
<script src="{% static 'js/movies/rating-chart.js' %}"></script>
<script src="{% static 'js/movies/spoiler.js' %}"></script>
{% endblock content %}