{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="z-3 text-center">
    <!-- 캐러셀 -->
    <div id="carouselExampleAutoplaying" class="carousel slide bg-carousel" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        {% for play_movie in playing_movies|slice:'5' %}
          <div class="carousel-poster carousel-item {% if forloop.first %} active {% endif %}">
            <button type="button" class="position-relative border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#video{{ forloop.counter }}">
              <img src="https://image.tmdb.org/t/p/original{{ play_movie.backdrop_path }}" class="d-block w-100 carousel-poster" alt="...">
              <img class="btn-video" src="{% static 'img/btn_video.png' %}" alt="">
              <div class="carousel-movie-title">
              <p>{{ play_movie.title }}</p>
              <p class="carousel-title-origin">{{ play_movie.original_title }}</p>
              </div>
            </button>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container">
    <!-- popular_movie -->
    <div class="popular_movie">
      <div class="time">
        <p class="title-size white-font me-auto">인기 영화</p>
        <svg class="me-2"xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
        </svg>
        {{ now_time|date:"m.d H:i"}} 기준
      </div>

      <div class="review-box">
        <div class="movie-slide-black">
          <!-- Slides -->
          {% for p_movie in popular_movies %}
          <div>
            <a class="white-font" href="{% url 'movies:detail' p_movie.id %}">
              <div class="movie-card">
                <div class="index-poster-wrapper">
                  <img class="poster-size" src="https://image.tmdb.org/t/p/w500{{ p_movie.poster_path }}" alt="">
                  <p class="rank">{{ forloop.counter }}</p>
                </div>
              </div>
              <p class="white-movie-title">{{ p_movie.title }}</p>
              <p class="white-movie-content">{{ p_movie.release_date }}</p>
              <p class="white-movie-avg">
                평점
                <img class="star-size" src="{% static 'img/rating-star.svg' %}" alt="">
                {{ p_movie.avg_rating }}
              </p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- now_playing -->
    <div class="playing_movie">
      <div class="review-box">
        <p class="title-size black-font pt-3 mb-3">상영 중 영화</p>
        <div class="movie-slide">
          <!-- Slides -->
          {% for p_movie in playing_movies %}
          <div>
            <a class="black-font" href="{% url 'movies:detail' p_movie.id %}">
              <div class="movie-card">
                <div class="index-poster-wrapper">
                  <img class="white-poster-size" src="https://image.tmdb.org/t/p/w500{{ p_movie.poster_path }}" alt="">
                  <p class="rank">{{ forloop.counter }}</p>
                </div>
              </div>
              <p class="black-movie-title">{{ p_movie.title }}</p>
              <p class="black-movie-content">{{ p_movie.release_date }}</p>
              <p class="black-movie-avg">평점<img class="star-size" src="{% static 'img/rating-star.svg' %}" alt="">{{ p_movie.avg_rating }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="top_movie">
      <div class="review-box">
        <p class="title-size black-font pt-3 mb-3">명작 영화</p>
        <div class="movie-slide">
          <!-- Slides -->
          {% for t_movie in top_movies %}
          <div>
            <a class="black-font" href="{% url 'movies:detail' t_movie.id %}">
              <div class="movie-card">
                <div class="index-poster-wrapper">
                  <img class="white-poster-size" src="https://image.tmdb.org/t/p/w500{{ t_movie.poster_path }}" alt="">
                  <p class="rank">{{ forloop.counter }}</p>
                </div>
              </div>
              <p class="black-movie-title">{{ t_movie.title }}</p>
              <p class="black-movie-content">{{ t_movie.release_date }}</p>
              <p class="black-movie-avg">평점<img class="star-size" src="{% static 'img/rating-star.svg' %}" alt="">{{ t_movie.avg_rating }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="upcoming_movie">
      <div class="review-box">
        <p class="title-size white-font pt-3 mb-3">상영예정작</p>
        <div class="movie-slide-black">
          <!-- Slides -->
          {% for u_movie in upcoming_movies %}
          <div>
            <a class="white-font" href="{% url 'movies:detail' u_movie.id %}">
              <div class="movie-card">
                <div class="index-poster-wrapper">
                  <img class="poster-size" src="https://image.tmdb.org/t/p/w500{{ u_movie.poster_path }}" alt="">
                  <p class="rank">{{ forloop.counter }}</p>
                </div>
              </div>
              <p class="white-movie-title">{{ u_movie.title }}</p>
              <p class="white-movie-content">{{ u_movie.release_date }}</p>
              <p class="white-movie-avg">평점<img class="star-size" src="{% static 'img/rating-star.svg' %}" alt="">{{ u_movie.avg_rating }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!--컬렉션-->
    <div class="index-collection-section">
      <p class="title-size white-font pt-3 mb-3">컬렉션</p>
      <div class="collection-list">
        {% for collection in collections %}
          <li class="collection-item">
            <a href="{% url 'movies:collection_detail' collection.user collection.pk %}">
              <div class="index-collection">
                <div class="index-collection-poster-wrapper">
                  {% for movie in collection.moviecollection_set.all|slice:"4" %}
                    <img class="profile-collection-poster" src="https://image.tmdb.org/t/p/w500/{{ movie.movie_poster }}" alt="">
                  {% endfor %}
                </div>
              </div>
            </a>
            <p class="text-white text-center mt-1">{{ collection.title }}</p>
          </li>
        {% endfor %}
      </div>
    </div>
  </div>

<!--비디오 모달창 5개-->
{% for trailer in playing_movies_trailers %}
<div class="modal fade" id="video{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl video-modal d-flex align-items-center justify-content-center">
    <div class="modal-content video-modal-body">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button id="close-btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe class="trailer" width="1280" height="720" src="https://www.youtube.com/embed/{{ trailer }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/movies/carousel.js' %}"></script>
<script src="{% static 'js/movies/video.js' %}"></script>
{% endblock content %}