{% extends 'base.html' %}
{% load static %}

<head>

</head>

{% block content %}
<div class="">
  <div class="z-3 text-center">
    <!-- 캐러셀 -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#video1">
            <img src="{% static 'img/poster1' %}" class="d-block w-100" alt="...">
            <img class="btn-video" src="{% static 'img/btn_video.png' %}" alt="">
          </button>
        </div>
        <div class="carousel-item">
          <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#video2">
            <img src="{% static 'img/poster2.jpg' %}" class="d-block w-100" alt="...">
            <img class="btn-video" src="{% static 'img/btn_video.png' %}" alt="">
          </button>
        </div>
        <div class="carousel-item">
          <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#video3">
            <img src="{% static 'img/poster3.jpg' %}" class="d-block w-100" alt="...">
            <img class="btn-video" src="{% static 'img/btn_video.png' %}" alt="">
          </button>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container">

    <!-- 최신 영화 -->
    <div class="row row-cols-2 row-cols-md-5 g-5">
      {% for p_movie in popular_movies %}
      <a href="{% url 'movies:detail' p_movie.id %}">
        <div class="movie-card">
          <div class="poster-wrapper">
            <img class="poster" src="https://image.tmdb.org/t/p/w500{{ p_movie.poster_path }}" alt="">
            <p class="rank">{{ forloop.counter }}</p>
          </div>
          <p>{{ p_movie.title }}</p>
          <p>{{ p_movie.release_date }} | </p>
        </div>
      </a>

    <!-- popular_movie -->
    <div class="popular_movie">
      
      <div class="time">
        <p class="title-size white-font me-auto">인기 영화</p>
        <svg class="me-2"xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
        </svg>
        {{ now_time|date:"m.d H:i"}} 기준
      </div>
      {% for popular_movie in popular_movies %}
      <div class="poster white-font">
        <img class="poster-size" src="https://image.tmdb.org/t/p/w500{{ popular_movie.poster_path }}" alt="">
        <p>{{ popular_movie.title }}</p>
        <p>{{ popular_movie.release_date }}</p>
      </div>

      {% endfor %}
    </div>
    
    <!-- now_playing -->
    
    <div class="playing_movie">
      {% for playing_movie in playing_movies %}
      <div class="poster">
        <img class="poster-size" src="https://image.tmdb.org/t/p/w500{{ playing_movie.poster_path }}" alt="">
        <p>{{ playing_movie.title }}</p>
        <p>{{ playing_movie.release_date }}</p>
      </div>
      {% endfor %}
    </div>

</div>

<!--비디오 모달창 3개-->
<div class="modal fade" id="video1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button id="close-btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <video height="100%" width="100%" controls="" id="vdoPlayer" src="{% static 'img/video1.mp4' %}"></video>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="video2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button id="close-btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <video height="100%" width="100%" controls="" id="vdoPlayer" src="{% static 'img/video3.mp4' %}"></video>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="video3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button id="close-btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <video height="100%" width="100%" controls="" id="vdoPlayer" src="{% static 'img/video2.mp4' %}"></video>
      </div>
    </div>
  </div>
</div>
{% endblock content %}