{% extends 'base.html' %}

{% load static %}
{% load mathfilters %}

{% block content %}
<!--인물 배경-->
<div class="bg-person">
  <img class="bg-person-size" src="https://image.tmdb.org/t/p/original{{ person.profile_path }}" alt="{{ person.name }}">
  <div class="bg-title-color">
    <p>{% if name %} {{ name }} {% else %} {{ person.name }} {% endif %}</p>
    <p class="bg-title-origin">{{ job }}</p>
  </div>
</div>

<!--인물 내용-->
<section class="detail-bg-color">
  <div class="container p-wrapper">
    <div class="container-py">
      <div class="p-detail">
        <div> 
        {% for key, movies in category %}
          {% if movies %}
            <p class="p-main-title">{{ key }}</p>
            <!--테이블 START-->
            <table class="p-table">
              <!--테이블 비율-->
              <colgroup>
                <col width="15%"/>
                <col width="70%"/>
                <col width="15%"/>
              </colgroup>
              <thead>
                <tr class="p-tr">
                  <th>년도</th>
                  <th class="p-th-title">제목</th>
                  <th class="p-th-rating">평점</th>
                </tr>
              </thead>
              <tbody>
                {% for movie in movies|slice:":5" %}
                  <tr>
                    <td class="p-td p-year">{{ movie.release_date|slice:":4" }}</td>
                    <td class="p-td">
                      <a href="{% url 'movies:detail' movie.id %}">
                        <div class="p-title">
                          {% if movie.poster_path %}
                          <img class="person-poster" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                          {% else %}
                          <img class='person-poster' src="{% static 'img/no-poster-2.png' %}" alt="">
                          {% endif %}
                         <span class="p-title-text">{{ movie.title }}</span>
                        </div>
                      </a>
                    </td>
                    <td class="p-td p-rating">
                      <p>
                        <img class="star-size" src="{% static 'img/rating-star.svg' %}" alt="">
                        {{ p_movie.avg_rating }}{{ movie.vote_average|mul:0.5|floatformat:1 }}
                      </p>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
      {% endfor %}
      </div> 
    </div>
  </div>
</section>
{% endblock content %}
