{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="bg-person">
  <img class="bg-person-size" src="https://image.tmdb.org/t/p/original{{ person.profile_path }}" alt="{{ person.name }}">
  <div class="bg-title-color">
    <p>{% if name %} {{ name }} {% else %} {{ person.name }} {% endif %}</p>
    <p class="bg-title-origin">{{ job }}</p>
  </div>
</div>


<section class="detail-bg-color">
  <div class="container pt-5 pb-5">
    <div class="container-py">
      <div class="p-detail">
        <div> 
        {% for key, movies in category %}
          {% if movies %}
            <p class="p-main-title">{{ key }}</p>
            <table class="p-table">
              <colgroup>
                <col width="15%"/>
                <col width="70%"/>
                <col width="15%"/>
              </colgroup>
              <thead>
                <tr class="p-tr">
                  <th>년도</th>
                  <th class="p-th-title">제목</th>
                  <th>평점</th>
                </tr>
              </thead>
              <tbody>
                {% for movie in movies|slice:":5" %}
                  <tr class=>
                    <td class="p-td p-year">{{ movie.release_date|slice:":4" }}</td>
                    <td class="p-td">
                      <a href="{% url 'movies:detail' movie.id %}">
                        <div class="p-title">                        
                          <img class="person-poster" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                         <span class="p-title-text">{{ movie.title }}</span>
                        </div>
                      </a>
                    </td>
                    <td class="p-td p-rating">
                      <p>
                        <img class="star-size" src="{% static 'img/rating-star.svg' %}" alt="">
                        {{ p_movie.avg_rating }}</p>{{ movie.vote_average|floatformat:1 }}
                      </p>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
      {% endfor %}
      </div> 
    </div>
  </div>
</section>
{% endblock content %}
{% comment %} 
일단 영화 5개만 출력되도록 했고 평점은 tmdb 평점을 넣어놓아서 추후 어떻게 할 지 확인해야합니다!
{% endcomment %}