{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--배경-->
<div class="page-bg-wrapper">
  <div class="page-bg-inner">
    <div class="container container-pt white-font">
      <!--결과-->
      <p class="title-size result-title">'{{ key_word }}' 검색 결과</p>
      <!--총 N 건의 검색 결과가 있습니다-->
      
      <!--영화 START-->
      <p class="title-size result-text">영화</p>
      <div class="search-card-wrap">
      {% if movies %}
        {% for movie in movies %}
          <a class="search-card"href="{% url 'movies:detail' movie.id %}">
            <img class="poster-size" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            <p class="white-movie-title">{{ movie.title }}</p>
            <p class="white-movie-content">{{ movie.release_date|slice:":4" }}</p>
            <p class="white-movie-avg">평점<img class="star-size" src="{% static 'img/rating-star.svg' %}" alt="">{{ movie.vote_average|floatformat:1 }}</p>
          </a>
        {% endfor %}
      {% else %}
        <p class="result-text-none">검색 결과가 없습니다.</p>
      {% endif %}
      </div>
      <!--영화 END-->
      <!--인물 START-->
      <p class="title-size result-text">인물</p>
      <div class="search-card-wrap">
      {% if people %}
        {% for person in people %}
          <a class="search-card"href="{% url 'movies:person_detail' person.id %}">
            <img class="poster-size" src="https://image.tmdb.org/t/p/w500{{ person.profile_path }}" alt="{{ person.name }}">
            <p class="white-movie-title">{{ person.name }}</p>
            <p class="white-movie-content">{{ person.job }}</p>
            {% for movie in person.known_for %}
              <span class="white-movie-content">{{ movie.title }}</span>
            {% endfor %}
          </a>
        {% endfor %}
      {% else %}
      <p class="result-text-none">검색 결과가 없습니다.</p>
      {% endif %}
      </div>
      <!--인물 END-->
    </div>
  </div>
</div>

{% endblock content %}