.small-poster {
  width: 90px;
  height: 120px;
}

.review-detail-time, .comment-detail-time {
  font-size: 0.8rem;
}

.review-movie-info {
  font-size: 0.8rem;
}

.review-detail-content {
  font-size: 16px;
  color: rgb(91, 80, 74);
}

.emote-comment-info {
  font-size: 0.8rem;
}

.emote-comment-form {
  width:100%;
  height: 40px;
}

.emote-comment-btn {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #67686a;
  height: 100%;
  width:100%;
}

.emote-comment-btn:hover {
  background-color: rgb(240, 240, 240);
}

.review-like-btn:hover {
  color: #ff0558;
}

.review-dislike-btn:hover, .comment-dislike-btn:hover {
  color: black;
}

.hr-top {
  margin-bottom: 0.4rem;
}

.hr-bottom {
  margin-top: 0.4rem;
}

.emote-comment-detail-btn {
  margin-left: -8px;
  padding: 0 7px 0 7px;
  height: 22px;
  background-color: transparent;
  border: none;
  color: #67686a;
  font-size: 0.8rem;
}

.emote-comment-detail-btn:hover {
  background-color: rgb(240, 240, 240);
}

.comment-like-btn:hover {
  color: #ff0558;
}

.emote-comment-btn-box {
  border-right: 1.5px solid #f0f0f0;
  padding: 0 5px 0 5px;
}

.is-liked-btn {
  color: #ff0558;
}

.is-disliked-btn {
  color: black;
}


.emote-comment > hr, .comment-detail > hr {
  color: rgb(200, 200, 200);
}

.comment-detail-box {
  width: 100%;
  margin-left: 8px;
}

.comment-user {
  font-weight: 600;
  font-size: 0.85rem;
  text-decoration: none;
  color: black;
}

.comment-content {
  color: #4a4a4a;
  font-size: 0.9rem;
}

.menu-icon {
  color: #A0A0A0;
}

.comment-btn {
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ff0558;
  border: 0;
  right: 0;
}

.r-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.r-detail {
  padding: 3rem;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 7px;
}