{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="page-bg-wrapper">
  <div class="page-bg-inner">
    <div class="account-update-form mx-auto">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link account-text-color" href="{% url 'accounts:update' %}">회원정보 변경</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">비밀번호 변경</a>
        </li>
      </ul>
      
      <form action="{% url 'accounts:change_password' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="input-group mb-3">
            {{ field }}
            {% if field.errors %}
              <span class="text-white">{{ field.errors }}</span>
            {% endif %}
          </div>
        {% endfor %}
        <div class="d-flex">
          <a class="btn btn-secondary w-50 me-3" href="{% url 'accounts:profile' request.user.username %}">취소</a>
          <button class="btn btn-primary w-50 btn-pink" type="submit">비밀번호 변경</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}