{% extends 'base.html' %}

{% load socialaccount %}
{% load static %}

{% block content %}
<div class="page-bg-wrapper">
  <div class="page-bg-inner">
    <form class="account-login-form mx-auto" action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="input-group mb-3">
          {{ field }}
          {% if field.errors %}
            <span class="text-white">{{ field.errors }}</span>
          {% endif %}
        </div>
      {% endfor %}
      <div class="d-grid">
        <button class="btn btn-primary btn-pink" type="submit">로그인</button>
      </div>
    </form>
    <div class="account-info mx-auto text-center">
      <div class="mt-3">
        <a class="a-underline" href="#">비밀번호를 잊어버리셨나요?</a>
        <p class="account-text-color mt-3">계정이 없으신가요? <a class="a-underline" href="{% url 'accounts:signup' %}">회원가입</a></p>
      </div>
      <div class="pt-3">
        <a href="{% provider_login_url 'google' %}"><img src="{% static 'img/btn_google_signin_light_normal_web.png' %}"></a>
      </div>
    </div>
  </div>
</div>


{% endblock content %}


