.profile {
  width: 640px;
}

.banner {
  position: relative;
  background-color: #ffbfd3;
  background-size: -1px 177px;
  padding-bottom: 32%;
}

.banner::before {
  content: '';
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 0;
  right: 0;
  left: 0;
  height: 44px
}

.profile-img {
  position: absolute;
  top: -32px;
  left: 20px;
  width: 8rem;
}

.profile-info {
  top: 270px;
}

.profile-update-btn {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

.movie-section {
  margin-top: 60px;
}

.profile-bg {
  padding-top: 30px;
  background-color: white;
}

.profile-collection-poster {
  box-sizing: border-box;
  /* width: 65px;
  height: 96px; */
  width: 50%;
  height: 100%;
  padding: 2px;
  border-radius: 5px;
}

.profile-collection-poster-wrapper {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 114px;
  height: 82.5px;
  padding: 2px;
}

.collection-list {
  display: inline-block;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  list-style: none;
  padding: 0;
}

.collection-item {
  width: calc(25% - 10px);
  margin-bottom: 20px;
}

.profile-collection {
  position: relative;
  background: rgb(204, 205, 207);
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 141%;
  border-radius: 5px;
  overflow: hidden;
}

.slick-slide {
  padding: 0px;
}

.userinfo_img{
  width: 50px;
  height: 50px;
}

.userinfo_box{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 10px;
}

.userinfo-txt {
  text-decoration: none;
  font-size: 17px;
  color: gray;
  margin-top: 10px;
}

.profile-title {
  font-size: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #00000030;
}
.profile-collection-title{
  font-size: 15px;
}
.profile-content{
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.profile-like-movies-wrapper {
  box-sizing: border-box;
  width: 25%;
  padding: 2px;
}

.profile-like-movies {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #0000000f;
}

.profile-like-movies-info {
  font-size: 14px;
}

.profile-like-movies-content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 188%;
  border-radius: 5px;
  overflow: hidden;
}

.like-movies-star {
  display: inline-block !important;
}

/* test */
.tmp-poster {
  width: calc(50% - 10px);
}

.profile-collection-title {
  font-size: 12px;
}

.profile-bg-pattern {
  background-image: repeating-linear-gradient(30deg, hsla(0,0%,100%,.1),  hsla(0,0%,100%,.1) 15px, transparent 0, transparent 30px);
}

.section {
  font-size: 18px;
}

.profile-review-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}