.profile {
  width: 640px;
}

.banner {
  position: relative;
  background-color: #ffbfd3;
  background-size: 180px 177px;
  padding-bottom: 32%;
}

.banner::before {
  content: '';
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 0;
  right: 0;
  left: 0;
  height: 44px
}

.profile-img {
  width: 5rem;
}

.profile-info {
  top: 270px;
}

.profile-update-btn {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

.movie-section {
  margin-top: 60px;
}

.profile-bg {
  background-color: white;
}