.profile {
  width: 640px;
}

.banner {
  position: relative;
  background-color: #ffbfd3;
  background-size: 180px 177px;
  padding-bottom: 32%;
}

.banner::before {
  content: '';
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 0;
  right: 0;
  left: 0;
  height: 44px
}

.profile-img {
  width: 5rem;
}

.profile-info {
  top: 270px;
}

.profile-update-btn {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

.movie-section {
  margin-top: 60px;
}

.profile-bg {
  background-color: white;
}

.profile-collection-poster {
  box-sizing: border-box;
  width: 65px;
  height: 96px;
  padding: 2px;
  border-radius: 5px;
}

.profile-collection-poster-wrapper {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 2px;
}

.collection-list {
  display: inline-block;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  list-style: none;
  padding: 0;
}

.collection-item {
  width: calc(25% - 10px);
  margin-bottom: 20px;
}

.profile-collection {
  position: relative;
  background: rgb(204, 205, 207);
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 144%;
  border-radius: 5px;
  overflow: hidden;
}