.profile {
  width: 640px;
}

.banner {
  position: relative;
  /* background-color: pink; */
  background-image: url(https://an2-ast.amz.wtchn.net/ayg/images/mypagePatternResize.2e73487f09488acbeb2d.jpg);
  background-size: 180px 177px;
  padding-bottom: 32%;
}

.banner::before {
  content: '';
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient( -180deg,rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100% );
  height: 44px
}

.profile-img {
  width: 5rem;
}

.profile-info {
  position: absolute;
  top: 180px;
}

.profile-update-btn {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 5px;
}