.add-btn {
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ff0558;
  border: 0;
  width: 3.5rem;
  height: 2rem;
}

.movie-poster-size {
  width: 86px;
  height: 129px;
}

.collcetion {
  padding: 1rem;
  width: 640px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.collection-field {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
}

.collcetion-search {
  outline: none;
  width: 100%;
}

.delete-movie-ul li {
  display: inline-block;
  width: 300px;
  margin-bottom: 5px;
}