.bg-poster {
  position: relative;
  display: flex;
  align-items: center;
}
.bg-poster::before {
  background-color: black;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(255,255,255,0) 45%, rgba(255,255,255,0) 78%, rgba(0,0,0,1) 88%, rgba(31,31,31,1) 100%, rgba(0,0,0,1) 100%);
}

.bg-poster-size {
  margin-left: 35%;
  width: 1024px;
  height: 576px;
}

.poster {
  top: 34rem;
  z-index: 3;
  position: absolute;
  padding: 3px;
  width: 200px;
  height: 270px;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
  background-color: white;
  border-radius: 5px;
}

.do-rating {
  font-size: 14px;
}

.vertical-line {
  width: 1px;
  height: 100%;
}

.bg-title-color {
  top: 27.5rem;
  left: 20rem;
  /* margin-left: 16%; */
  /* margin-top: 20%; */
  /* margin-bottom: 14%; */
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 45px;
  }

.bg-title-origin {
  padding-top: 10px;
  font-size: 20px;
}

.modal-header {
  border-bottom: 0px;
}

.modal-footer {
  border-top: 0px; 
}

.review-form {
  outline: none;
  resize: none;
}

.modal-dialog {
  margin-top: 17rem;
}

.review-btn {
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ff0558;
  border: 0;
}

.spoiler-label {
  color: #ff0558;
}

.container-py {
  margin-left: 7rem;
  margin-right: 7rem;
}

.movie-overview {
  padding-left: 220px;
  margin-bottom: 35px;
}

.text-overview {
  font-size: 15px;
  line-height: 20px;
  max-height: 100%;
}

.text-overview.close {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.movie-detail {
  padding: 2rem;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 7px;
}

.profile-path {
  width: 5rem;
}

.profile-wrapper {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 3px;
}
.card {
  display: flex;
  align-items: center;
}

.my-auto {
  margin: auto;
}

.detail-title {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 700;
  margin-left: 8px;
}

.role-text {
  color: #8C8C8C;
  font-size: 14px;
}

.info-content {
  color: #4A4A4A;
  font-size: 15px;
  margin-left: 8px;
}

.staff-section {
  text-decoration: none;
}

#chart {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: flex-end;
  width: 600px;
  height: 100px;
}

#chart div p {
  text-align: center;
  font-size: 12px;
  color: #a0a0a0;
}

.bar {
  width: 36px;
  background-color: #ffdd53;
}

#chart div:nth-child(2n) {
  margin-bottom: 12px;
}

.detail-bg-color {
  background-color: #f8f8f8;
  border-top: 1px solid #e3e3e3;
}

.chat-icon {
  font-size: 4rem;
  color: #a0a0a0;
}

.modal-dialog {
  width: 375px;
}

.please-login-content {
  margin: 5rem 0;
}

.my-btn {
  background-color: #ff2f6e;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: all 0.15s ease-in-out;
}

.text-pink {
  color: #ff2f6e;
}