.index-poster-wrapper {
  position: relative;
  width: 246px; 
  height: 369px;
  border-radius: 5px;
}

.poster-size {
  width: 246px;
  height: 369px;
  background-color: white;
  border-radius: 5px;
}

.time {
  display: flex;
  align-items: center;
  color: white;
  padding: 14px 8px 14px;
  margin-right: 3px;
  font-size: 12px;
}

.white-font {
  color: white;
  text-decoration: none;
}

.black-font {
  color: black;
  text-decoration: none;
}

.title-size {
  font-size: 22px;
  font-weight: 600;
}

.black-movie-title {
  color: #292a32;
  font-size: 16px;
  margin: 3px 0px 4px;
  line-height: 22px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.black-movie-content {
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #292a32;
}
.black-movie-avg {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
  color: #555765;
  display: flex;
  align-items: flex-end; 
}

.white-movie-title {
  color: white;
  font-size: 16px;
  margin: 3px 0px 4px;
  line-height: 22px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.white-movie-content {
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.white-movie-avg {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  display: flex;
  align-items: flex-end; 
}

.star-size {
  height: 12px;
  width: 12px;
  margin-inline: 5px;
}
.rank {
  text-align: center;
  position: absolute;
  top: 3px;
  left: 3px;
  color: white;
  width: 2em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.bg-carousel {
  background: rgb(0,0,0);
}

.bg-carousel.slide::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 720px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 85%, rgba(0,0,0,0.6979166666666667) 100%);
}

.btn-video {
  width: 49px;
  height: 54px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular_movie {
  height: 550px;
}

.popular_movie::before {
  content: "";
  position: absolute;
  display: block;
  background-color: black;
  left: 0;
  right: 0;
  width: 100%;
  height: 550px;
  z-index: -1;
}
 
.playing_movie {
  height: 500px;
}
.playing_movie::before {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  left: 0;
  right: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.top_movie {
  height: 500px;
}
.top_movie::before {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  left: 0;
  right: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.upcoming_movie {
  height: 500px;
}
.upcoming_movie::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #252451;
  left: 0;
  right: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.video-modal {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.video-modal-body {
  width: 1312px;
  height: 810px;
}

.carousel-poster {
  height: 720px;
  object-fit: cover;
  object-position: center top;
}

.carousel-poster button {
  width: 100%;
}

.carousel-movie-title {
  position: absolute;
  z-index: 5;
  bottom: 2rem;
  text-align: left;
  left: 20rem;
  color: white;
  font-size: 35px;
}
.carousel-title-origin {
  padding-top: 5px;
  
  font-size: 20px;

}

.slick-index-prev:before {
  color: white !important;
}

.slick-index-next:before {
  color: white !important;
}

.white-poster-size {
  width: 246px;
  height: 369px;
  background-color: white;
  border: 1px solid #0000000f;
  border-radius: 5px;
}

.carousel-indicators [data-bs-target] {
  width: 7px;
  height: 7px;
  border: 0;
  border-radius: 3.5px;
}

.slick-list {
  margin-right: -20px;
}



/* .slick-slide {
  padding-right: 20px;
} */

.index-collection-section {
  height: 550px;
}
.index-collection-section::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #252451;
  left: 0;
  right: 0;
  width: 100%;
  height: 550px;
  z-index: -1;
}

.index-collection {
  position: relative;
  background: rgb(204, 205, 207);
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 147%;
  border-radius: 5px;
  overflow: hidden;
}

.index-collection-poster-wrapper {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 304px;
  height: 225px;
  padding: 2px;
}

.profile-collection-poster-div {
  height: max-content;
}