.bg-person {
  position: relative;
  display: flex;
  align-items: center;
}

.bg-person::before {
  background-color: black;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  /* opacity: 0; */
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 47%, rgba(255,255,255,0) 52%, rgba(255,255,255,0) 76%, rgba(0,0,0,1) 81%, rgba(31,31,31,1) 100%, rgba(0,0,0,1) 100%);
}

.bg-person-size {
  margin-left: 47%;
  width: 650px;
  height: 976px;
}

.p-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}
.person-poster {
  width: 67px; 
  height: 100px;
  background-color: white;
  border-radius: 5px;
}
.p-detail {
  padding: 0 2rem 2rem 2rem;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 7px;
}
.p-main-title {
  margin-top: 35px;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 35px;
}

.p-table {
  width: 100%;
}

.p-year {
  color: #74747b;
}

.p-td {
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #0000000f;
}

.p-tr th {
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #0000000f;
  border-top: 1px solid #0000000f;
  color: #74747b;
}

.p-th-title {
  padding-left :100px;
}

.p-th-rating {
  padding-left: 5px;
}
.p-title {
  display: flex;
  align-items: center;
  color: #292a32;
  
}

.p-title-text {
  margin-left: 30px;
  font-size: 18px;
}

.p-rating {
  color: #787878;
}