.footer {
  position: relative;
  background-color: #1c1d1f;
  color: #a5a5a7;
  width: 100%;
  height: 240px;
  font-size: 13px;
  padding: 40px 0px 30px;
  text-align: center;
  z-index: 99;
}

.footer a {
  text-decoration: none;
  color: #a5a5a7;
}

.grade-all {
  position: relative;
  background-color: #101113;
  color: #d1d1d2;
  width: 100%;
  height: 60px;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo-font-size{
  font-size: 22px;
}

.name-font-size{
  font-size:14px;
}