.header-color {
  color: #7E7E7E
}
.header-color a {
  color: inherit !important;
}

.signup-color {
  color: #353535;
  text-decoration: none;
  border: 1px solid #74747b80;
  border-radius: 5px;
  padding: 3px 10px
}

.dark-header-color {
  background-color: transparent;
  color: white;
}

.dark-header-color a {
  color: inherit !important;
}

.dark-signup-color {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 10px
}

.header-profile-img {
  width: 2rem;
  height: 2rem;
}