{% load static %}
<div class="grade-all">
  <div>
    지금까지<span class="pink-color"> ★ 500,372 개의 평가가 </span>쌓였어요.
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="logo-font-size">
      SEENEMA
    </div>
    <div class="pt-5">
      서비스 이용약관&nbsp; |&nbsp; 개인정보 처리방침&nbsp; |&nbsp; 회사 안내
    </div>
    <div class="pt-4">
      <span><a href="https://github.com/DT-HYUNJUN/movies-review-site">https://github.com/DT-HYUNJUN/movies-review-site</a></span>
    </div>
    <div class="name-font-size pt-3">
      <a href="#">박현준</a>
      <a href="#">서유영</a>
      <a href="#">최수현</a>
      <a href="#">노현석</a>
      <a href="#">이수한</a>
  </div>
</div>