{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'style/header.css' %}">
</head>

<nav class="position-absolute fixed-top navbar navbar-expand-lg border-bottom w-100 z-2 header-color">
  <div class="d-flex container">
    <a class="navbar-brand" href="#">SEENEMA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="d-flex align-items-center bg-body-secondary rounded-1 ps-3">
          <i class="bi bi-search"></i>
          <input class="px-1 py-2 bg-transparent border-0 rounded-1" type="search" placeholder="검색" aria-label="Search">
        </div>
        <button class="" type="submit" hidden>Search</button>
      </form>
      <!-- 로그인 / 회원가입 -->
      <div class="d-flex align-items-center">
        <button type="button" class="border-0 bg-transparent header-color" data-bs-toggle="modal" data-bs-target="#exampleModal">
          로그인
        </button>
        <a class="signup-color py-2" href="#" role="button">회원가입</a>
      </div>
    </div>
  </div>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'accounts:login' %}" method="POST">
          {% csrf_token %}
          {% for field in form %}
            {{ field }}
          {% endfor %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>