<nav class="navbar navbar-expand-lg bg-body border-bottom">
  <div class="d-flex container">
    <a class="navbar-brand" href="#">SEENEMA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="d-flex align-items-center bg-body-secondary rounded-1 ps-3">
          <i class="bi bi-search"></i>
          <input class="px-1 py-2 bg-transparent border-0 rounded-1" type="search" placeholder="검색" aria-label="Search">
        </div>
        <button class="" type="submit" hidden>Search</button>
      </form>
      <!-- 로그인 / 회원가입 -->
      <div>
        <a class="btn btn-outline-dark-subtle mx-2" href="#" role="button">로그인</a>
        <a class="btn btn-sm btn-outline-dark" href="#" role="button">회원가입</a>
      </div>
    </div>
  </div>
</nav>