{% extends 'base.html' %}

{% block content %}
<form class="account-form mx-auto" action="{% url 'socialaccount_signup' %}" method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="input-group mb-3">
      {{ field }}
    </div>
  {% endfor %}
  <div class="d-grid">
    {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">회원가입</button>
  </div>
</form>
<div class="text-center mt-3">
  <p class="mt-3">이미 가입하셨나요? <a href="{% url 'accounts:login' %}">로그인</a></p>
</div>

{% endblock content %}